/* ==// AvenirNextW1G \\== */
/* Bold */
@font-face {
	font-family: "AvenirNextW1G-Bold";
	src: url("../fonts/AvenirNextW1G/AvenirNextW1G-Bold.otf");

	font-weight: 700;
	font-style: normal;
}
/* Demi */
@font-face {
	font-family: "AvenirNextW1G-Demi";
	src: url("../fonts/AvenirNextW1G/AvenirNextW1G-Demi.otf");

	font-weight: 600;
	font-style: normal;
}
/* ==// Helvetica Neue \\== */
/* HelveticaNeueCyr-Medium */
@font-face {
	font-family: "Helvetica Neue-Medium";
	src: url("../fonts/Helvetica_Neue/HelveticaNeueCyr-Medium.otf");

	font-weight: 500;
	font-style: normal;
}
/* HelveticaNeueCyr-Roman */
@font-face {
	font-family: "Helvetica Neue-Roman";
	src: url("../fonts/Helvetica_Neue/HelveticaNeueCyr-Roman.otf");

	font-weight: 400;
	font-style: normal;
}